<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chi-Chi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chi-Chi</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="stacked">Stacked Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <div id="container">
    <strong>A Mobile App Strictly Dedicated to Chihuahuas</strong>
    <p>Start with Ionic <a target="_Chi-Chi" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
